---
layout: base.njk
---
<article id="blog-content">
    <header>
        <h2 id="page-title">{{ title }}</h2>
        <div class="blog-meta fst-italic">
            Created: {{ created | getDateString }} | Last Modified: {{ page.date | getDateString }} |
            {% for tag in tags %}
                {# Will activate the link when I couple more posts #}
                {# <a href="/blogs/tags/{{ tag | slugify }}">#{{ tag }}</a> #}
                #{{ tag }}
            {% endfor %}
        </div>
    </header>
    {{ content | safe }}
</article>