---
layout: base.njk
---
<article id="page-content">
    {{ content | safe }}
</article>
<section id="connect-with-me" class="text-center p-3 bg-light mt-4">
    <div class="d-flex align-items-center flex-wrap">
        <div class="col-12 col-md-auto">
            <h3>Let's connect</h3>
        </div>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap my-2">
            <strong class="text-primary">pkafleprabhakar [at] gmail [dot] com</strong>
            <a href="https://www.linkedin.com/in/prabhakarkafle/" target="_blank">LinkedIn</a>
            <a href="https://www.instagram.com/prabhakarkafle/" target="_blank">Instagram</a>
        </div>
    </div>
    <em>I would prefer email for communication</em>
</section>