// Functions first
@import "../../node_modules/bootstrap/scss/functions";

// Variable overrides second
$primary: #369;
$light-gray-color: #ddd;
$muted-text-color: #888;
$text-color: #333;
// $enable-shadows: true;
// $prefix: "mo-";

// Required Bootstrap imports
@import "../../node_modules/bootstrap/scss/variables";
// @import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// Optional components
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/utilities/api";

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@400;700&display=swap');

// Rebooting styles
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Encode sans', sans-serif;
    line-height: 1.5;
    margin: 0;
    color: $text-color;
}

a {
    color: $primary;
    &:hover {
        color: black;
    }
}

ul.list-unstyled {
    list-style: none;
    padding-left: 0;
}

.container {
    max-width: 960px !important;
}

// Custom styling
header#site-header {
    padding-top: 12px;
    padding-bottom: 8px;
    border-bottom: 1px solid $light-gray-color;
    h1#site-logo {
        margin-bottom: 0;
        font-weight: normal;
    }
    a {
        text-decoration: none;
    }
    #site-navbar {
        a.active {
            font-weight: bold;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}

footer#site-footer {
    background: $primary;
    color: white;
    padding: 8px 0;
    a {
        color: white;
    }
}

main {
    padding: 32px 0;
    // Common style for all the pages
    #site-page {
        #page-title {
            font-size: 2.2em;
            line-height: 1.2;
        }
    }
    // Style specific to homepage
    #home-page {
        #profile-photo {
            width: 100%;
            max-width: 300px;
            padding: 2px;
            border-radius: 50%;
            border: 1px solid $primary;
        }
    }
    // Styles specific to blog posts
    #blog-content {
        .blog-meta {
            color: $muted-text-color;
            padding-left: 12px;
            padding-bottom: 12px;
            border-bottom: 3px dotted $light-gray-color;
        }
    }
}