---
layout: page
---
<div id="home-page" class="text-center">
    <img src="/images/profile.jpg" alt="Prabhakar Kafle" id="profile-photo" class="float-md-end m-2" />
    <div class="text-start">
        <p>
            Hi, I am Prabhakar. I am a senior at MIT majoring in Computer Science with a concentration in Economics.
            I am interested in education technology, web, photography, and hiking.
            If any of these excite you, I would love to <a href="#connect-with-me">connect and talk</a>!!!
        </p>
        <p>
            Currently I am interning at <a href="https://www.balbix.com/" target="_blank">Balbix</a> in the data engineering team.
            My project is focused on developing integration pipelines for third-party APIs.
            Besides the internship, I am also <a href="/blogs/building-this-website">building this website</a> and exploring California.
        </p>
        <p>
            I grew up in Biratnagar, Nepal and did my high school in Kathmandu.
            I am very much interested in working in some education related project in Nepal.
            If you are also interested and have some idea or would like to brainstorm together, feel free to <a href="#connect-with-me">reach out</a>.
        </p>
        <p>
            At MIT, I have been working as an undergraduate researcher for the last three years in various labs.
            Here are some of the <a href="/web-cv#cv-research">research projects I have worked on</a>.
            I am also currently the president of <a href="http://web.mit.edu/miteri/www/" target="_blank">MITeri</a>- Nepali student association at MIT.
        </p>
    </div>
</div>
<section id="connect-with-me" class="text-center p-3 bg-light mt-4">
    <div class="d-flex align-items-center flex-wrap">
        <div class="col-12 col-md-auto">
            <h3>Let's connect</h3>
        </div>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap my-2">
            <strong class="text-primary">pkafleprabhakar [at] gmail [dot] com</strong>
            <a href="https://www.linkedin.com/in/prabhakarkafle/" target="_blank">LinkedIn</a>
            <a href="https://www.instagram.com/prabhakarkafle/" target="_blank">Instagram</a>
        </div>
    </div>
    <em>I would prefer email for communication</em>
</section>