---
layout: page
---
<div id="home-page" class="text-center">
    <img src="/images/profile.jpg" alt="Prabhakar Kafle" id="profile-photo" class="float-md-end m-2" />
    <div class="text-start">
        <p>
            Hi, I am Prabhakar. I just graduated from MIT with Bachelor's degree in in Computer Science. 
            I am starting my MEng in Fall 2023.
            I am interested in software systems engineering, education technology, and the web.
            Besides, I like to take photos and hike when I have free time.
            If any of these excite you, I would love to <a href="#connect-with-me">connect and talk</a>!!!
        </p>
        {# <blockquote>
            <em>I am currently looking for full time jobs to start around July 2023. 
            I am interested in data engineering and/or full stack development roles. 
            So if you are hiring or have any leads on suitable opportunities, 
            please <a href="mailto:pkafle@mit.edu" target="_blank">reach out to me</a>!!</em>
        </blockquote> #}
        <p>
            This summer I am interning at 
            <a href="https://www.dynamofl.com/" target="_blank">DynamoFL</a> as a Software Engineer.
            I will be working on scaling the system by managing the ingestion pipeline and 
            increasing the throughput of the service.
        </p>
        <p>
            I grew up in Biratnagar, Nepal and did my high school in Kathmandu.
            I am very much interested in working in some education related project in Nepal.
            If you are also interested and have some idea or would like to brainstorm together, 
            feel free to <a href="#connect-with-me">reach out</a>.
        </p>
        <p>
            At MIT, I have worked as an undergraduate researcher for the first three years in various labs.
            Here are some of the <a href="/web-cv#cv-research">research projects I have worked on</a>. 
            My senior year, I TA'ed the Introduction to Machine Learning class.
            I was also the president of <a href="http://web.mit.edu/miteri/www/" target="_blank">MITeri</a>- 
            Nepali student association at MIT.
        </p>
    </div>
</div>
<section id="connect-with-me" class="text-center p-3 bg-light mt-4">
    <div class="d-flex align-items-center flex-wrap">
        <div class="col-12 col-md-auto">
            <h3>Let's connect</h3>
        </div>
        <div class="col-12 col-md d-flex justify-content-around flex-wrap my-2">
            <strong class="text-primary">pkafleprabhakar [at] gmail [dot] com</strong>
            <a href="https://www.linkedin.com/in/prabhakarkafle/" target="_blank">LinkedIn</a>
            <a href="https://www.instagram.com/prabhakarkafle/" target="_blank">Instagram</a>
        </div>
    </div>
    <em>I would prefer email for communication</em>
</section>